

.react-pdf__Page__canvas {
    display:block; 
    margin: auto
}
.my-class {
    background-color: black;
}
.overlay{
    position: absolute;
    z-index: 10;
    /* background-color: rgba(0,0,0,0.5); dim the background */
  }